:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-logo {
    width: 1rem;
    height: 1rem;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 5rem 0rem;
    text-align: center;
    width: 100%;
    min-height: calc(100vh - 10rem);
}
.main-title {
    font-family: Lexend Exa !important;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.yarl__slide {
    flex-direction: column;
    padding-bottom: 1.5rem !important;
}
.yarl__slide_title_container{
    text-align: center;
}
.yarl__carousel_with_slides{
    column-gap: 0;
}

.yarl__slide yarl__flex_center > div{
    max-width: calc(100vw - 2rem);
}

.fab-add-obs {
    position: fixed !important;
    bottom: 2rem;
    right: 2rem;
}

form {
    & .form-intro {
        margin-bottom: 1rem;
    }

    & .form-section {
        padding: 0.6rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    & .form-actions {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    & .form-section {
        & .form-control + .form-control {
            margin: 0.5rem 0rem;
        }

        & .field {
            text-align: left;
        }

        & .field + .field {
            margin-top: 0.8rem;
        }
    }
}

.appFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background: #353434;
    font-size: 0.9rem;
}

.yarl__slide_description {
    text-align: center;
}

.album {
    & .piece-of-album {
        & h3 {
            color: #ffffffc9;
            border-bottom: 3px solid #ffffff5c;
            text-align: left;
        }
    }
    & .photos {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        img {
            max-width: 100%;
            max-height: 700px;
        }

        & > div {
            width: 260px;
            border-radius: 3px;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 900px) {
    .album .photos {
        flex-direction: column;

        & > div {
            width: auto;
            flex: 1;
            border-radius: 3px;
        }
    }
}
